<div class="flashHolder">
  <div class="magic">

  </div>
  <div class="logoHolder">
    <img src="assets/bappa_logo.png" alt="art_logo" width="200">
    <span class="logo_text">Bappa</span>

  </div>


  <div class="flash_footer">
    <button [routerLink]="['dashboard']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored explore_btn">
      Explore
    </button>
    <span style="display: block">Developed with passion and devotion</span>
    <span>by Aditya Mhamunkar</span>
  </div>
</div>
